.git
.venv
venv
env
.env
*.env
__pycache__/
**/__pycache__/
.pytest_cache/
**/.pytest_cache/
cache/
**/cache/
core/build/
cmake-build-*/
*.py[cod]
*.exe
*.dll
*.so
*.o
*.obj
*.a
*.lib
*.log
.ipynb_checkpoints/
notebooks/
tests/
benchmarks/
docs/